
<%- include("header") %>
  
<link rel='stylesheet' href='/style.css' />


<div class="box" id="heading">
    <h1> <%= title %></h1>
</div>
  <form method="post" action=<%=title %>  > 
    <div class="box">
        
            <% if(array) array.forEach((e)=>{ %>
                <div class="item"  id=<%=  (e.isDone)&&"red" %>  >
                
                        
                        <p><a href=<%=e.gfgURL %> > <%= e.name %> </a> </p>
                        <div class="button">
                            <button >View</button>
                            <button name="done" data-value="e.name" value=<%=e.id %> >Done</button>
                            <button name="done" data-value="e.name" value="true">Review</button>
                            
                        </div>
                
                </div>
            <% }) %>

    </div>
  </form>


 
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</body>
<footer>
    Copyright live and let live @2022
    
</footer>
</html>
